---
- name: bootstrapping server Build
  hosts: build
  become: yes

  tasks:
  - name: Update all packages to the latest version
    apt:
      upgrade: dist

  - name: Ensure default-jdk package is present
    apt:
      name: default-jdk
      state: present

  - name: Ensure maven package is present
    apt:
      name: maven
      state: present

  - name: Ensure tomcat9 package is present
    apt:
      name: tomcat9
      state: present

  - name: Clone a repo
    git:
      repo: 'https://github.com/boxfuse/boxfuse-sample-java-war-hello.git'
      dest: /home/devops2/java-app

  - name: Run command mvn package
    command:
      chdir: /home/devops2/java-app
      cmd: mvn package

  - name: Copy .war in tomcat9/webapps
    copy:
      src: /home/devops2/java-app/target/hello-1.0.war
      dest: /var/lib/tomcat9/webapps
      remote_src: yes

- name: bootstrapping server Prod
  hosts: prod
  become: yes

  tasks:
  - name: Update all packages to the latest version
    apt:
      upgrade: dist

  - name: Ensure tomcat9 package is present
    apt:
      name: tomcat9
      state: present

  - name: Transfer files from Build to Prod
    synchronize:
      src: /var/lib/tomcat9/webapps/hello-1.0/
      dest: /var/lib/tomcat9/webapps/hello-1.0/
      mode: pull
    delegate_to: build