---
- name: bootstrapping server Build
  hosts: build
  become: yes

  tasks:
  - name: Update all packages to the latest version
    apt:
      upgrade: dist

  - name: Ensure default-jdk package is present
    apt:
      name: default-jdk
      state: present

  - name: Ensure maven package is present
    apt:
      name: maven
      state: present

  - name: Ensure tomcat9 package is present
    apt:
      name: tomcat9
      state: present

  - name: Clone a repo
    git:
      repo: 'https://github.com/boxfuse/boxfuse-sample-java-war-hello.git'
      dest: /home/devops2/java-app

  - name: Run command mvn package
    chdir: /home/devops2/java-app/boxfuse-sample-java-war-hello
    command: mvn package

  - name: Copy .war in tomcat9/webapps
    copy:
      src: /home/devops2/java-app/boxfuse-sample-java-war-hello/target/hello-1.0.war
      dest: /var/lib/tomcat9/webapps




#
#
#
#
#
#
#
#  - name: Download a WAR File to the Tomcat webapps directory to be deployed
#    community.general.maven_artifact:
#      group_id: com.company
#      artifact_id: web-app
#      extension: war
#      repository_url: 'https://repo.company.com/maven'
#      dest: /var/lib/tomcat7/webapps/web-app.war
#
#
#
#
#
#
#
#
#
#
#  - name: Copy index.html
#    copy:
#      src: index.html
#      dest: /var/www/html
#
#  - name: Ensure nginx service is started
#    service:
#      name: nginx
#      state: started
#
#- name: setup db
#  hosts: db
#  become: yes
#
#  tasks:
#  - name: Ensure postgresql package is present
#    apt:
#      name: postgresql
#      state: present
#
#  - name: Ensure postgresql service is started
#    service:
#      name: postgresql
#      state: started